<div class="clearnav navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><%=link_to "Locations", locations_path%></li>
    <li><%=link_to "Book New Reservation", new_reservation_path%></li>
  </ul>
</div>

<h1>Tools by Type:</h1>

<ul>
  <% @tool_types.each do |tool_type| %>
  <li>
    <%= link_to tool_type.name, tool_type_path(tool_type) %> | <%= tool_type.items.select{|item| item.available == true}.count %>
  </li>
  <% end %>
</ul>
