<div class="clearnav navbar navbar-default">
  <ul class="nav navbar-nav">
    <h1><%= @tool_type.name.pluralize %></h1>
  </ul>
</div>

<ul>
  <% @tool_type.items.each do |item| %>
  <li> <%=link_to item.name_with_price_location, item_path(item)%> </li>
  <% end %>

</ul>
