<h1>Users</h1>
<% @users.each do |user| %>
<ul>
  <h3> Email Address: <%= user.email %></h3>
  <h3> Password: <%= user.password %></h3>
  <h3> User Location: <%= user.location.name %></h3>

</ul>
<% end %>
