<h1>Welcome to ToolShare NYC!</h1>
<h2>When you need a big tool, but have a little space!</h2>
<h3><%=link_to "Browse by Type of Tool", tool_types_path%></h3>
<h3><%=link_to "Locations", locations_path%></h3>
