<h1>Welcome to ToolShare NYC.</h1>
<h2>When you need a big tool but have little space...</h2>
<%=form_tag(tool_type_path(:tool_type), method: :get) do%>
  <input list="tool" name="tool_type">
  <datalist id="tool">
    <% ToolType.all.each do |tool_type| %>
      <option value="<%= tool_type.name %>">
    <% end %>
  </datalist>
  <%=submit_tag("Search")%>
<% end %>
