<div class="clearnav navbar navbar-default">
  <ul class="nav navbar-nav">
    <h1>Our Locations</h1>
  </ul>
</div>



<div class="row" style="margin-bottom: 50px">

  <% @locations.each do |location| %>
    <div class="col-sm-4">
      <div class="card" style="width: 20rem; margin: 40px 0">
        <div class="card-block">
          <div class="card-img-top"/> <%= link_to image_tag("maps/#{location.name.downcase}.png", :size=> '300x200'), location_path(location) %> </div>
          <div class="card-block">
            <h4 class="card-title"><%= link_to location.name, location_path(location) %></h4>
            <p class="card-text"><%= location.address %> <br> <%= location.name %>, NY 10004</p>
          </div>
        </div>
      </div>
    </div>

  <% end %>

</div>
