<div class="clearnav navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><%=link_to "Tool Types", tool_types_path%></li>
    <li><%=link_to "Book New Reservation", new_reservation_path%></li>
  </ul>
</div>


<h1>Our Locations</h1>

  <% @locations.each do |location| %>
  <ul>
    <h2><%= link_to location.name, location_path(location) %></h2>
  </ul>
  <% end %>
