<div class="clearnav navbar navbar-default">
  <ul class="nav navbar-nav">
    <h1><%= @location.name %></h1>
    <h2><%= @location.address %></h2>
  </ul>
</div>

<h2>Tools:</h2>
<% @location.items.each do |item|%>
  <ul>
    <li><%= link_to item.name, item_path(item) if item.available %></li>
  </ul>
<% end %>
