<!DOCTYPE html>
<html>
  <head>
    <title>Toolshare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <div style="background-color: lightgray; padding: 20px; margin: 0">
      <a href="../users">Users</a>
      <a href="../items">Items</a>
      <a href="../reservations">Reservations</a>
      <a href="../locations">Locations</a>

    </div>

    <%= yield %>
  </body>
</html>
